@media (max-width: 414px) {
  #mobile__menu{
    display: block!important;
    .panel li{
      list-style: none;
    }
  }
  header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  #menu{display: none;}
  .logo {
    width: 200px;
    margin: 1em auto;
  }
  #video{
  	display: none!important;
  }
  #services .col{
  	min-width: 350px;
  }
  .title{
  	font-size: 6vmin;
  	margin:1em auto!important;
  }
  .suscribe form .col{
  	width: 100%;
  	display: block;
  	flex-basis: auto;
    -webkit-box-flex: 0;
    -ms-flex-positive: 1;
    flex-grow: 0;
    max-width: 100%;
  }
  #home{
    height: 100vh;
    background-image: url(/img/header-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  #services .col-md-4{
    margin: 1em auto;
  }
  #destiny-slide{
    .title{
      bottom: 180px!important;
    }
  }
}